In [1]:
from google.colab import files
uploaded = files.upload()

Saving Titanic-Dataset.csv to Titanic-Dataset.csv

In [2]:
import pandas as pd

df = pd.read_csv('titanic.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [4]:
import os
os.listdir('/content')

['.config', 'Titanic-Dataset.csv', 'sample_data']

In [5]:
import pandas as pd

df = pd.read_csv('/content/titanic.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/content/titanic.csv'

In [6]:
import os
os.listdir('/content')

['.config', 'Titanic-Dataset.csv', 'sample_data']

In [7]:
import pandas as pd

df = pd.read_csv('/content/Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df.drop(columns=['Cabin'], inplace=True)

KeyError: "['Cabin'] not found in axis"

In [12]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [13]:
df['Age'].fillna(df['Age'].median(), inplace=True)

/tmp/ipython-input-2404743633.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [20]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [22]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [23]:
# Check number of duplicates first
print("Number of duplicate rows:", df.duplicated().sum())

# Remove duplicates
df = df.drop_duplicates()

# Verify duplicates removed
print("Number of rows after removing duplicates:", df.shape[0])

Number of duplicate rows: 0
Number of rows after removing duplicates: 891

In [24]:
df['Age'] = df['Age'].astype(int)

In [26]:
import numpy as np

df['Age_Group'] = np.where(df['Age'] < 18, 'Child', 'Adult')

In [28]:
df.to_csv('/content/cleaned_data.csv', index=False)

In [29]:
# Data Cleaning Notes

1. Loaded Titanic dataset using pandas.
2. Checked for missing values using df.isnull().sum().
3. Filled missing values in 'Age' with median.
4. Filled missing values in 'Embarked' with mode.
5. Removed duplicate rows to ensure data consistency.
6. Converted 'Age' column to integer for proper calculations.
7. Created new column 'Age_Group' to classify passengers as Child or Adult.
8. Saved cleaned dataset as 'cleaned_data.csv'._

SyntaxError: invalid syntax (ipython-input-1223062717.py, line 3)

In [30]:
# Data Cleaning Notes

1. Loaded Titanic dataset using pandas.
2. Checked for missing values using df.isnull().sum().
3. Filled missing values in 'Age' with median.
4. Filled missing values in 'Embarked' with mode.
5. Removed duplicate rows to ensure data consistency.
6. Converted 'Age' column to integer for proper calculations.
7. Created new column 'Age_Group' to classify passengers as Child or Adult.
8. Saved cleaned dataset as 'cleaned_data.csv'.

SyntaxError: invalid syntax (ipython-input-236061629.py, line 3)

# Data Cleaning Notes

1. Loaded Titanic dataset using pandas.
2. Checked for missing values using df.isnull().sum().
3. Filled missing values in 'Age' with median.
4. Filled missing values in 'Embarked' with mode.
5. Removed duplicate rows to ensure data consistency.
6. Converted 'Age' column to integer for proper calculations.
7. Created new column 'Age_Group' to classify passengers as Child or Adult.
8. Saved cleaned dataset as 'cleaned_data.csv'.